.esri-view-width-xlarge .esri-popup__main-container,.esri-popup__content,.esri-feature__main-container{
  background-color: #ccc;
}
.esri-popup__header .esri-popup__header-title:hover{
  background-color: #515050;
}

/* 去除点击地图时出现的黑色边框 */
.esri-view .esri-view-surface--inset-outline:focus::after{
  outline: none !important; 
}